body{
    
    font-family: 'Poppins',sans-serif;
    
}



.about{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    margin-left: 34%;
    word-spacing: 10px;
    text-shadow: 0px 1px 2px black;
}

.center1{
    display:grid;
    position:relative;
    margin-left: 31%;
    z-index: 100;
}

.button{
    
    background-color: #b8335d;
    width: 140px;
    height: 55px;
    color: #fdfcfc;
    border: 0px solid;
    border-radius: 15px;
    margin-bottom: 1%;
    margin-top: 3%;
    margin-left: 15%;
    font-size: 19px;
    font-weight: 400;
    padding: 6px 12px;
    box-shadow : 9px 27px 50px -9px rgb(82, 81, 81), 0 6px 20px  -24px rgba(0, 0, 0, 0.19);
    transition: background-color 0.4s;
}

.button1{
    
    background-color: #b8335d;
    width: 140px;
    height: 55px;
    color: #fdfcfc;
    border: 0px solid;
    border-radius: 15px;
    margin-bottom: 1%;
    margin-top: 3%;
    margin-left: 15%;
    font-size: 19px;
    font-weight: 400;
    padding: 6px 12px;
    box-shadow : 9px 27px 50px -9px rgb(82, 81, 81), 0 6px 20px  -24px rgba(0, 0, 0, 0.19);
    transition: background-color 0.4s;
    
}

.button span.icon {
    background: url(../GitHub-Mark-Light-32px.png) no-repeat;
    float:left;
    width: 33px;
    height: 36px;
}

.button1 span.icon1 {
    background: url(../linkedin-3-32.png) no-repeat;
    
    float: left;
    height: 33px;
    width: 36px;
    
   
}

.button1:hover{
    box-shadow : 0 8px 16px -9px black, 0 6px 20px  0 rgba(0, 0, 0, 0.19);
    background-color: #0077b5;
    color: #fffdfd;
    text-decoration: none;
    border-top: #181717;
    border-left: #181717;
    border-right: #181717;


}

.button:hover{
    box-shadow : 0 8px 16px -9px black, 0 6px 20px  0 rgba(0, 0, 0, 0.19);
    background-color: #292a2b;
    color: #fffdfd;
    text-decoration: none;
    border-top: #181717;
    border-left: #181717;
    border-right: #181717;


}



.container{
    max-width: 1170px;
    margin: auto;    
}



ul{
    list-style-type: none;
    
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
    display:flex;
    
    margin-top: 15%;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;    
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    margin: auto;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    
}

btn{
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
    
}

span{
    color: #f9004d;
    text-decoration: none;
    font-weight: bolder;
    font-size:30px;
    text-transform: capitalize;
}

spani{
    color: #181717;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    text-transform: capitalize;
}
.navbar-expand-lg .navbar-collapse{
    margin-left: 75%;
    color: grey;
}

.nav-item {
    margin-right: 35%;
    font-weight: bolder;
}
