<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyTask</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light ">
        <div class="container-fluid">
            <img src="https://w7.pngwing.com/pngs/599/165/png-transparent-project-management-task-computer-icons-others-text-logo-project-management-thumbnail.png"
                style="width:40px;" class="rounded-pill">
            <a class="navbar-brand" href="/">MyTask</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:9000/">Home</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="http://127.0.0.1:9000/">About</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="container my-3">
        <h2>Add a Task</h2>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="text" class="form-label">Task Title</label>
                <input type="text" class="form-control" name="title" id="text" aria-describedby="emailHelp"
                    placeholder="Enter title of your task">

            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Task Description</label>
                <input type="text" class="form-control" name="desc" id="desc" placeholder="Enter details of your task">
            </div>
            <div class="div">
                <input type="checkbox" onchange="document.getElementById('submit').disabled = !this.checked;" />
                <button type="submit" class="btn btn-dark" name="submit" id="submit" disabled = !this.checked;>Submit</button>
            </div>
        </form>
    </div>

    <div class="container mb-3">
        <style>
            h3 {
                text-align: center;
            }
        </style>
        <h3>My_Tasks</h3>


        {% if allTodo|length==0 %}
        <div class="alert alert-danger" role="alert">
            <ul class="nav justify-content-center">
                No Tasks found. Add your first todo now!
            </ul>
        </div>
        {% else %}
        <table class="table my-3">
            <thead>
                <tr>
                    <th scope="col">SNo</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in allTodo %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.desc}}</td>
                    <td>{{todo.date_created}}</td>
                    <td>
                        <a href="/update/{{todo.sno}}" type="button"
                            class="btn btn-outline-dark btn-sm mx-1">Update</a></button>
                        <a href="/delete/{{todo.sno}}" type="button"
                            class="btn btn-outline-dark btn-sm mx-1">Delete</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>



</body>

</html>