{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block Body %}


<div class="container my-3">
    <h2>Add a Task</h2>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="text" class="form-label">Task Title</label>
            <input type="text" class="form-control" name="title" required="required" id="text" aria-describedby="emailHelp"
                placeholder="Enter title of your task">

        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Task Description</label>
            <input type="text" class="form-control" name="desc" required="required" id="desc" placeholder="Enter details of your task">
        </div>
        <div class="div">
            <button type="submit" class="btn btn-dark"  name="submit" id="submit" ;>Submit</button>
            
        </div>
    </form>
</div>

<div class="container mb-3">
    <style>
        h3 {
            text-align: center;
        }
    </style>
    <h3><b>My</b><span>Tasks</span></h3>


    {% if allTodo|length==0 %}
    <div class="alert alert-danger" role="alert">
        <ul class="nav justify-content-center">
            No Tasks found. Add your first todo now!
        </ul>
    </div>
    {% else %}
    <table class="table my-3">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in allTodo %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                    <a href="/update/{{todo.sno}}" type="button"
                        class="btn btn-outline-dark btn-sm mx-1">Update</a></button>
                    <a href="/delete/{{todo.sno}}" type="button"
                        class="btn btn-outline-dark btn-sm mx-1">Delete</a></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

{% endblock Body %}